text{
    font-family: "CircularStd-Book";
    font-size: 14;
    color: '#2f354b';
    text-align:center;
}
header {
    background-color: rgb(105, 12, 12);
    color: white;
    padding: 20px;
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
    font-size: 16px; /* set a default font-size */
  }
  
  nav ul li:hover {
    font-size: 18px; /* increase font-size on hover */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }