.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-collection-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.user-collection-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.user-collection-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.user-new-collection-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
