footer {
    background-color: #333;
    background-image: linear-gradient(to right, rgba(165, 102, 201, 0.384), rgb(238, 9, 9)); 
    padding: 40px;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom:0;
    left: 0;
    right:0;
    height:30px;
  }