.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.user-title{
    display: flex;
    /* fel */
}
.pile-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}
.search-box{
    background-color: rgb(105, 12, 12);
    background-image: linear-gradient(to right, rgba(165, 102, 201, 0.384) 0%, rgb(238, 9, 9) 100%);
    padding: 20px;
}
h1 {
    text-align:center;
}
h2 {
  font-weight: bold;
  color: #000000;
  font-size: 18px;
}

.pile-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.pile-image {
    width: 100%;
    height: 10rem;
    margin-bottom: 1px;
}
.search-input{
    background-color: #fff;
}
.add-pile-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* user-container
user-pile-list
pile-list
pile-item
pile-image
add-pile-button
 */
